@import 'abstracts/variables';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

.hide{
    display: none;
}

input[type='text'],
input[type='number'],
input[type='password'],
textarea{
    font-size: 16px;
}

input{
    box-sizing: border-box;
    

    &::placeholder{
        font-size: 1rem;
        font-family: 'Space Grotesk', sans-serif;
        color: $Light-grayish-violet;
    }
}

body{
    font-family: 'Space Grotesk', sans-serif;
}

button{
    border: none;
    background-color: hsl(278, 94%, 30%);
    padding: 1.1rem 0;
    font-size: 1.2rem;
    width: 100%;
    border-radius: .5rem;
    color: $White;
    margin-top: 2.5rem;
    text-transform: capitalize;
}


.card-header{
    background-image: url(../images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 14rem;
    // width: 100%;

    .card-container{
        position: relative;
        max-width: 400px;
        margin: auto;

        .back-card, .front-card{
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            background-repeat: no-repeat;
            background-size: contain;
            width: 18rem;
            height: 10rem;
            border-radius: .5rem;
            transition: all 350ms ease-in-out;
        }
        .back-card{
            background-image: url(../images/bg-card-back.png);
            right: 1rem;
            top: 2rem;

            .cvv{
                position: absolute;
                top: 4.4rem;
                right: 2rem;
                font-size: .7rem;
                color: $White;
            }

        }

        .front-card{
            background-image: url(../images/bg-card-front.png);
            top: 7.6rem;
            left: 1rem;
            // padding: 2rem;
            // border: 2px solid black; 

            &-content{
                margin: auto 1rem;
                color: $White;

                .circle-container{
                    padding-top: 1rem;
                    padding-bottom: 2rem;
                    img{
                        width: 3.5rem;
                    }
                }

                .card-number{
                    text-align: center;
                    font-size: 1.2rem;
                    // color: $White;
                    letter-spacing: 2px;
                    
                    
                }

                .card-details{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 1rem;
                    // color: $Dark-grayish-violet;
                    color: $Light-grayish-violet;
                    text-transform: uppercase;
                    font-size: .9rem;
                }
            }
        }
    }
}

.form-wrapper{
    margin-top: 7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    // max-width: 40rem;
    // margin: 6rem 1rem;
    // width: 100%;
    // overflow: hidden;

    form{

        max-width:30rem;
        margin: auto;

        h3{
            text-transform: uppercase;
            margin-top: 1.2rem;
            letter-spacing: 0.1rem;
            font-size: .9rem;

        }

        .input-control{
            margin-top: .6rem;

            &.error input{
                border-color: $red;
                outline-color: $red;
            }

            &.success input{
                border-color: $green;
                outline-color: $green;
            }


            input{
                width: 100%;
                display: block;
                border-radius: .5rem;
                height: 3rem;
                border: 2px solid $Light-grayish-violet;
                padding-left: 1rem;
                // margin: auto;
                // outline: 3px solid $Dark-grayish-violet;
    
                // &::placeholder{
                //     padding-left: 2rem;
                // }

                &:focus{
                    outline: 1px solid $grayish-blue;
                    transition: .5s ease;
                }
            }

           
        }

        .grid-section{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            // width: 95%;
            // margin: auto;

            .exp-date{
                .input-wrapper{
                    display: flex;
                    gap: 1rem;
                    
                    input{
                        width: 5rem;
                    }
                }
            }
        }
        
    }

    aside{
        // margin-top: 6rem;
        // display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .message{
            line-height: 2.3;

            p{
                color: $Dark-grayish-violet;
            }
        }
    }
}

@media screen and (min-width:650px){
    .card-header{
        .card-container{
            max-width: 80%;
            .back-card{
                right: 2rem;
                top: 2rem;
            }

            .front-card{
                left: 2rem;
                top: 2rem;
            }
        }
    }
}

@media screen and (min-width: 1024px){
    main{
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 2rem;
    }

    .card-header{
        background-image: url(../images/bg-main-desktop.png);
        height: 100vh;

        .card-container{

            .back-card, .front-card{
                background-size: cover;
                width: 23rem;
                height: 13rem;
            }

            .back-card{
                top: 28rem;
                left: 5rem;

                .cvv{
                    top: 6rem;
                }
            }

            .front-card{
                top: 13rem;
                left: 0;
                left: 1rem;

                &-content{
                    margin: 1rem 2rem;

                    .circle-container{
                        padding-bottom: 3rem;
                        img{width: 4rem;}
                    }

                    .card-number{
                        text-align: left;
                    }
                }
            }
        }
    }

    .form-wrapper{
        width: 25rem;
        margin: 14rem auto;
        padding: 0 5rem;
    }
}

@media screen and (min-width:1200px){
    .card-header{
        .card-container{
            .back-card, .front-card{
                width: 27rem;
                height: 14rem; 
                transition: all 350ms ease-in-out;
            }

            .back-card{
                left: 9rem;

                .cvv{
                    top: 6.8rem;
                    right: 3rem;
                }
                
            }

            .front-card{
                left: 5rem;
                // transition: left 250ms ease-in; 
                
            }
        }
    }
}